[defaults]
host_key_checking = false
timeout = 60
roles_path = roles
any_errors_fatal = true

[inventory]
enable_plugins = yaml

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=10s
retries=3